.presentation {
  display: flex;
  flex-flow: column;
  border-top: var(--color-border-line) 0.5px solid;
}

.vehicles {
  width: 100vw;
  height: 95vh;
  text-align: center;
  border-bottom: var(--color-border-line) 0.5px solid;
  position: relative;
}

.vehicles img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.vehicles h2 {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  font-size: var(--h2);
  color: var(--color-text);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: absolute;
  top: 20%;
  left: 5%;
}

.vision {
  width: 100vw;
  height: 95vh;
  border-bottom: var(--color-border-line) 0.5px solid;
  position: relative;
}

.vision img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.vision h2 {
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  font-size: var(--h2);
  color: var(--color-text);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: absolute;
  top: 40%;
  right: 5%;
}
.future {
  width: 100vw;
  height: 95vh;
  border-bottom: var(--color-border-line) 0.5px solid;
  position: relative;
}

.future img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.future h2 {
  writing-mode: vertical-lr;
  text-orientation: sideways-right;
  font-size: var(--h2);
  color: var(--color-text);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: absolute;
  top: 30%;
  left: 5%;
}

.studioHero {
  display: flex;
  border-bottom: var(--color-border-line) 0.5px solid;
}

.studioImage {
  width: 100vw;
  height: 100vh;
}
.studioHero img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.merch {
  display: flex;
  flex-flow: column;
}
.merchHelmet {
  width: 100vw;
  height: 50vh;
  border-bottom: var(--color-border-line) 0.5px solid;
}
.merchHelmet img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.merchWatch {
  width: 100vw;
  height: 50vh;
  border-bottom: var(--color-border-line) 0.5px solid;
}
.merchWatch img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
.merchGlasses {
  width: 100vw;
  height: 50vh;
  border-bottom: var(--color-border-line) 0.5px solid;
}
.merchGlasses img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.outdoorHero {
  display: flex;
  flex-flow: column;
  border-bottom: var(--color-border-line) 0.5px solid;
}
.outdoorText {
  display: flex;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  padding: 30px;
}

.outdoorText h2 {
  color: var(--color-text);
  font-size: var(--h2);
  font-family: var(--font-main);
  text-transform: uppercase;
  align-self: center;
}
.outdoorText h3 {
  color: var(--color-text);
  font-size: var(--h2);
  font-family: var(--font-text);
  padding: 10px;
  text-transform: uppercase;
  align-self: center;
}

.outdoorImage {
  width: 100vw;
  height: 100vh;
}
.outdoorImage h2,
.outdoorImage h3 {
  display: none;
}
.outdoorHero img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}
