.presentation {
  display: flex;
  flex-flow: column;

  border-top: #c4c4c4 0.5px solid;
}

.vehicles {
  width: 100vw;
  height: 95vh;
  text-align: center;
  border-bottom: #c4c4c4 0.5px solid;
}

.vehicles img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.vision {
  width: 100vw;
  height: 95vh;
  border-bottom: #c4c4c4 0.5px solid;
}

.vision img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.future {
  width: 100vw;
  height: 95vh;
  border-bottom: #c4c4c4 0.5px solid;
}

.future img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.merch {
  display: flex;
  border-bottom: #c4c4c4 0.5px solid;
}

.merchItem {
  width: 100vw;
  height: 100vh;
}
.merch img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  display: flex;
  flex-flow: column;
}
.itemOne {
  width: 100vw;
  height: 50vh;
  border-bottom: #c4c4c4 0.5px solid;
}
.itemTwo {
  width: 100vw;
  height: 50vh;
  border-bottom: #c4c4c4 0.5px solid;
}
.itemThree {
  width: 100vw;
  height: 50vh;
  border-bottom: #c4c4c4 0.5px solid;
}
