.presentation {
  display: flex;
  flex-flow: column;
}

.vehicles {
  width: 100vw;
  height: 95vh;
  text-align: center;
  border-color: green;
}

.vehicles img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.vision {
  width: 100vw;
  height: 95vh;
}

.vision img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.future {
  width: 100vw;
  height: 95vh;
}

.future img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.merch {
  display: flex;
}

.merchItem {
  width: 100vw;
  height: 100vh;
}
.merch img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

.container {
  display: flex;
  flex-flow: column;
}
.itemOne {
  width: 100vw;
  height: 50vh;
}
.itemTwo {
  width: 100vw;
  height: 50vh;
}
.itemThree {
  width: 100vw;
  height: 50vh;
}
