* {
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 211, 211);
  position: relative;
  margin: 0;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: rgb(126, 126, 153);
  text-align: right;
}

.footer li {
  display: block;
  align-items: row;
  padding: 5px 12px;
}
