:root {
  /* Font sizse */
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1rem;
  --p: 0.875rem;

  /* Colors */
  --color-background: #141414;
  --color-text: #c4c4c4;
  --color-border-line: #c4c4c4;
  --color-links: #ff4949;
  --color-shadow: #ffffff;

  /* Fonts */
  --font-main: Netron;
  --font-text: Poppins-Regular;
}

* {
  box-sizing: border-box;
  font-family: Netron;
}

body {
  background-image: url(/image/background.png);
  background-size: cover;
  position: relative;
  margin: 0;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--color-background);
  z-index: 100;
}

.footer li {
  display: block;
  align-items: row;
  padding: 5px 12px;
  color: var(--color-text);
  text-align: right;
}

.navLinkFooter {
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  color: var(--color-links);
  text-shadow: 0 0 7px var(--color-shadow), 0 0 10px var(--color-shadow),
    0 0 21px var(--color-shadow), 0 0 42px var(--color-shadow),
    0 0 82px var(--color-shadow), 0 0 92px var(--color-shadow),
    0 0 102px var(--color-shadow), 0 0 151px var(--color-shadow);
}

.footer h2 {
  margin-top: 40px;
  text-align: center;
  font-size: var(--h2);
  color: var(--color-text);
  text-transform: uppercase;
}
