:root {
  /* Font sizse */
  --h1: 2.5rem;
  --h2: 2rem;
  --h3: 1rem;
  --p: 0.875rem;

  /* Colors */
  --color-background: #141414;
  --color-text: #c4c4c4;
  --color-border-line: #c4c4c4;

  /* Font family */
  --font-family-main: Netron;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url(/image/Background\ smoove\ x1.png);
  background-size: cover;
  position: relative;
  margin: 0;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--color-background);
  z-index: 100;
}

.footer li {
  display: block;
  align-items: row;
  padding: 5px 12px;
  color: var(--color-text);
  text-align: right;
  font-family: var(--font-family-main);
}

.footer p {
  font-size: var(--p);
  color: var(--color-text);
  font-family: var(--font-family-main);
  text-transform: uppercase;
}
