@media only screen and (min-width: 1024px) {
  .presentation {
    display: flex;
    height: 85vh;
    flex-flow: row;
  }

  .vehicles {
    width: 33vw;
    height: 100%;
    position: relative;
    text-align: center;
  }

  .vehicles .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .vehicles:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }

  .vehicles h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .vehicles h3 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    font-family: var(--font-text);
    text-transform: uppercase;
  }

  .vision {
    width: 33vw;
    height: 100%;
    position: relative;
    text-align: center;
    border-left: var(--color-border-line) 0.5px solid;
    border-right: var(--color-border-line) 0.5px solid;
  }

  .vision .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .vision:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .vision h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .vision h3 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    font-family: var(--font-text);
    text-transform: uppercase;
  }

  .future {
    width: 33vw;
    height: 100%;
    position: relative;
    text-align: center;
  }
  .future .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .future:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .future h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .future h3 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    font-family: var(--font-text);
    text-transform: uppercase;
  }

  .arrowDown {
    border: solid var(--color-text);
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 1rem;
    position: fixed;
    top: 87%;
    right: 4%;
    transform: translate(-50%, -50%);
    z-index: 100;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .arrowDown:hover {
    border: solid red;
    border-width: 0 6px 6px 0;
  }

  .studioHero {
    display: flex;
    height: 90vh;
  }

  .studioImage {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  .studioImage .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .studioImage:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .studioImage h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .studioImage h3 {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    font-family: var(--font-text);
    text-transform: uppercase;
  }

  .merch {
    display: flex;
    height: 50vh;
    flex-flow: row;
  }
  .merchHelmet {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  .merchHelmet .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .merchHelmet:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .merchHelmet h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .merchHelmet h3 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    font-family: var(--font-text);
    text-transform: uppercase;
  }

  .merchWatch {
    width: 100vw;
    height: 100%;
    position: relative;
    border-left: var(--color-border-line) 0.5px solid;
    border-right: var(--color-border-line) 0.5px solid;
  }

  .merchWatch .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .merchWatch:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .merchWatch h2 {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .merchWatch h3 {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    font-family: var(--font-text);
    text-transform: uppercase;
  }
  .merchGlasses {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  .merchGlasses .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .merchGlasses:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .merchGlasses h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .merchGlasses h3 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    font-family: var(--font-text);
    text-transform: uppercase;
  }
}
