@media only screen and (min-width: 1024px) {
  .presentation {
    display: flex;
    height: 85vh;
    flex-flow: row;
  }

  .vehicles {
    width: 33vw;
    height: 100%;
    position: relative;
    text-align: center;
  }

  .vehicles .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .vehicles:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }

  .vehicles h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .vehicles h3 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    text-transform: uppercase;
  }

  .vision {
    width: 33vw;
    height: 100%;
    position: relative;
    text-align: center;
    border-left: var(--color-border-line) 0.5px solid;
    border-right: var(--color-border-line) 0.5px solid;
  }

  .vision .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .vision:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .vision h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .vision h3 {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    text-transform: uppercase;
  }

  .future {
    width: 33vw;
    height: 100%;
    position: relative;
    text-align: center;
  }
  .future .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .future:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .future h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .future h3 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    text-transform: uppercase;
  }

  .merch {
    display: flex;
    height: 90vh;
  }

  .merchItem {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  .merchItem .imgHover {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    height: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .merchItem:hover .imgHover {
    opacity: 1;
    transition: opacity 0.4s ease-out;
  }
  .merchItem h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .merchItem h3 {
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    text-transform: uppercase;
  }

  .container {
    display: flex;
    height: 50vh;
    flex-flow: row;
  }
  .itemOne {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  .itemOne h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .itemOne h3 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    text-transform: uppercase;
  }

  .itemTwo {
    width: 100vw;
    height: 100%;
    position: relative;
    border-left: var(--color-border-line) 0.5px solid;
    border-right: var(--color-border-line) 0.5px solid;
  }
  .itemTwo h2 {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .itemTwo h3 {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    text-transform: uppercase;
  }
  .itemThree {
    width: 100vw;
    height: 100%;
    position: relative;
  }
  .itemThree h2 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h2);
    text-transform: uppercase;
  }
  .itemThree h3 {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--color-text);
    font-size: var(--h3);
    text-transform: uppercase;
  }
}
