@media only screen and (max-width: 760px) {
}

@media only screen and (min-width: 1024px) {
  .presentation {
    display: flex;
    height: 85vh;
    flex-flow: row;
  }

  .vehicles {
    width: 33vw;
    height: 100%;
    position: relative;
    text-align: center;
  }

  .vehicles img {
    height: 100%;
    max-height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }

  .vehicles h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .vision {
    width: 33vw;
    height: 100%;
    background-color: #6e9793;
  }

  .future {
    width: 33vw;
    height: 100%;
    background-color: #b0c1c0;
  }

  .merch {
    display: flex;
    height: 100vh;
  }

  .merchItem {
    width: 100vw;
    height: 100%;
    background-color: khaki;
  }

  .container {
    display: flex;
    height: 50vh;
    flex-flow: row;
  }
  .itemOne {
    width: 100vw;
    height: 100%;
    background-color: gold;
  }
  .itemTwo {
    width: 100vw;
    height: 100%;
    background-color: indigo;
  }
  .itemThree {
    width: 100vw;
    height: 100%;
    background-color: lightcoral;
  }
}
