nav {
  margin: 0;
  position: relative;
  z-index: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* The nav bar on the top off the page */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

/* the line in the hamburger*/
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #215731;
}
/* the slide-box with all the nav links */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: -100%;
  top: 3rem;
  flex-direction: column;
  background-color: rgb(233, 156, 203);
  width: 100%;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-item {
  margin-left: 5rem;
  text-transform: uppercase;
}

/* The menu linkitems */
.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #215731;
}

.nav-link:hover {
  color: #215731;
}

.nav-logo {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #215731;
}

@media only screen and (max-width: 2000px) {
  .nav-logo {
    font-size: 2rem;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
