nav {
  margin: 0;
}

/* .meny ul {
    list-style-type: none;
    align-items: center;
    color: black;
  }
  
  .meny li {
    display: inline;
    padding: 0 12px;
  } */

/* main {
    /* min-height: vh; */

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #215731;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
  text-transform: uppercase;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #215731;
}

.nav-link:hover {
  color: #215731;
}

.nav-logo {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #215731;
}
