nav {
  margin: 0;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #c4c4c4;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
/* The navbar on the top off the page */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #141414;
}

/* the line in the hamburger */
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #c4c4c4;
}
/* the slide-box with all the nav links */
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  right: -100%;
  top: 1.8rem;
  flex-direction: column;
  background-color: #141414;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  transition: 1s;
}

.nav-item {
  margin-left: 5rem;
  margin: 1.4rem;
  text-transform: uppercase;
}

/* The menu linkitems */
.nav-link {
  font-size: 1rem;
  font-weight: 400;
  color: #c4c4c4;
}

.nav-logo {
}

@media only screen and (max-width: 2000px) {
  .nav-menu.active {
    right: 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
